@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  height: 100%;
}

html {
  background-color: #252a33;
}

.react-terminal-wrapper {
  width: 100%;
  color: #eab308;
  font-size: 18px;
  font-family: "JetBrains Mono", monospace;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-terminal {
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
  
  display: flex;
  flex-direction: column;
}

.react-terminal > *:last-child {
  margin-bottom: 100px;
}

.react-terminal-window-buttons button {
  border-radius: 50%;
  border: 0;
}

.react-terminal-window-buttons button.clickable {
  cursor: pointer;
}

.react-terminal-window-buttons button.red-btn {
  background: #d9515d;
}

.react-terminal-window-buttons button.yellow-btn {
  background: #f4c025;
}

.react-terminal-window-buttons button.green-btn {
  background: #3ec930;
}

.react-terminal-line:before {
  /* Set up defaults and ensure empty lines are displayed. */
  content: "";
  display: inline-block;
  color: #007a4c;
  margin-top: 0.5em;
}

.terminal-input {
  width: fit-content;
  border-bottom: 2px solid #007a4c;
}

.react-terminal-input.react-terminal-prompt {
  margin-right: 0.5em;
}

.react-terminal-wrapper:focus-within .react-terminal-active-input .cursor {
  position: relative;
  display: inline-block;
  width: 0.55em;
  height: 1em;
  top: 0.225em;
  background: #eab308;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

/* Cursor animation */

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.terminal-hidden-input {
  position: fixed;
  left: -1000px;
}
